li {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.action span {
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}